/* .text1:hover+ .text2{
        color: red;
} */


.parent:hover{
    color: blue;
}

.swiper-div{
    background-color: antiquewhite;
    text-align: center;
    height: 200px;
}

.swiper-div Image{
    height: 1000px;
    /* object-fit: cover; */
}