/* .text1:hover+ .text2{
        color: red;
} */

*{
    margin: 0;
    padding: 0;
}

.parent:hover{
    color: blue;
}

.swiper-div{
    text-align: center;
    height: 100vh;
    position: relative;
}


.swiper-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-div p{
    font-size: 6vw;
    color: white;
    text-shadow: black 3px 3px 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    width: 50%;
    position: absolute;
    top: 10%;
    z-index: 10;
}

.up_button{
    left: 0;
}

.down_button{
    right: 0;
}